<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.jpg" height="400px" width="400px">
        </a>
        <h4 class="header">Alexander Balyshyn</h4>
        <h7 class="header"></h7>
    </div>
    <div class="user-intro center-align">
        <div class="row">
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">

                            <div class="row desc-item">

                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">Age</div>
                                    <div class="col s9 m9 left-align">{{"now" | date: "%Y" | minus: 1995}}</div>
                                </div>
                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">Email</div>
                                    <div class="col s9 m9 left-align">
                                        <a href="mailto:balyszyn@gmail.com">balyszyn@gmail.com</a>
                                    </div>
                                </div>
                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">Phone</div>
                                    <div class="col s9 m9 left-align">+38 096 199 0367
                                        <span class="badge">telegram: @limpidgeek</span>
                                    </div>
                                </div>
                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">Skype</div>
                                    <div class="col s9 m9 left-align">balyszyn</div>
                                </div>
                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">LinkedIn</div>
                                    <div class="col s9 m9 left-align">
                                        <a href="https://www.linkedin.com/in/alexander-balyshyn-7a603a11b/">Alexander
                                            Balyshyn</a>
                                    </div>
                                </div>
                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">Language</div>
                                    <div class="col s9 m9 left-align">English (intermediate), Ukrainian, Russian</div>
                                </div>

                                <div class="row desc-item">
                                    <div class="col s3 m3 right-align desc-item-title">CV</div>
                                    <div class="col s9 m9 left-align">Download : <a href="{{site.baseurl}}/AlexanderBalyshyn-2.pdf">PDF</a>,
                                        DOC
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="user-content">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content black-text">
                            <span class="card-title">Short info</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Worked as Software Developer and Software Engineer in projects. For several years
                                worked
                                in the field of e-commerce. Has
                                rich experience in server-side development, building reactive and scalable systems
                                based
                                on microservice
                                architecture. My principal interests ate to understand how to design software systems
                                and how to maximize
                                the productivity and performance of software systems. I am constantly working on
                                understanding the patterns
                                of good software design, and also the processes that support software design.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content black-text">
                            <span class="card-title">Co-founder of System "Eye" - <a href="https://discoperi.com/about/">
                                    Discoperi Inc.</a></span>
                        </div>
                        <div class="card-content">
                            <p>
                                DISCOPERI Inc. is an early-stage technological startup-company, established in June
                                2016
                                and based in Madrid, Spain. Every
                                incredible venture starts with an idea and a group of enthusiasts able to pursue it.
                                Established by a group
                                of socially-oriented tech-enthusiasts: Oleksandr (Alex) Bondarenko, <b>Oleksandr
                                    Balyshyn</b>, Taras Pasternak,
                                Dmitry Bazaliyskiy, Oleksandr Kolosov and Ilona Kurtseba. From the very first day the
                                company aimed to create
                                disruptive technology able to change the world and make it better for humanity.
                                DISCOPERI main product is
                                next generation road safety control system called «Eye».
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img src="{{site.baseurl}}/assets/res/resp.png">
                        <span class="card-title">Responsibilities</span>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li>
                                <p>Designing and implementation of security and data protection measures and
                                    implementation data-storage solutions</p>
                            </li>
                            <li>
                                <p>Conduction of unit tests, code reviews</p>
                            </li>
                            <li>
                                <p>Refactoring the current source codes</p>
                            </li>
                            <li>
                                <p>Assessing and improving software performance</p>
                            </li>
                            <li>
                                <p>Maintaining design of software and code documentation</p>
                            </li>
                            <li>
                                Development of software solutions by studying information needs; conferring with users;
                                studying systems flow, data usage
                                and work processes; investigating problem areas; following the software development
                                lifecycle
                            </li>
                            <li>
                                Determination of operational feasibility by evaluating analysis, problem definition,
                                requirements, solution development and
                                proposed solutions
                            </li>
                            <li>
                                documentation and demonstration of solutions by developing documentation, flowcharts,
                                layouts, diagrams, charts, code comments
                                and clear code
                            </li>
                            <li>
                                Improve operations by conducting systems analysis; recommending changes in policies and
                                procedures
                            </li>
                            <li>
                                Support of software engineers by providing advice, coaching and educational
                                opportunities
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{site.baseurl}}/assets/res/carbon.png">
                        <span class="card-title">Qualifications</span>

                    </div>
                    <div class="card-content">
                        <ul>
                            <li>
                                Fluent with functional, imperative and object-­oriented languages
                            </li>
                            <li>
                                OOP, Functional Programming and Modeling Skills
                            </li>
                            <li>
                                Experience working in an agile environment
                            </li>
                            <li>
                                Experience building complex web systems that have been successfully delivered to
                                customers
                            </li>
                            <li>
                                Experience in communicating with other technical teams to collect requirements,
                                identify
                                tasks, provide estimates and meet
                                production deadlines
                            </li>
                            <li>
                                Experience implementing and consuming large scale web services
                            </li>
                            <li>
                                Experience with professional software engineering best practices for the full software
                                development life cycle, including
                                coding standards, code reviews, source control management, build processes, testing and
                                operations
                            </li>
                            <li>
                                Knowledge of the JVM and the ecosystem of supporting tools inside and out
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card">
                    <div class="card-image">
                        <img src="{{site.baseurl}}/assets/res/idea.png">
                        <span class="card-title">Top skills & Proficiencies</span>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li>Analysis</li>
                            <li>Software Design</li>
                            <li>Software Documentation</li>
                            <li>Software Testing</li>
                            <li>Teamwork</li>
                            <li>Programming Skills</li>
                            <li>Software Development Fundamentals and Process</li>
                            <li>Software Requirements</li>
                            <li>Software Architecture</li>
                            <li>Self-Directed</li>
                            <li>Multitask</li>
                            <li>Results Oriented</li>
                            <li>High Energy</li>
                            <li>Self-Motivated</li>
                            <li>Experience Working in an Agile Environment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img src="{{site.baseurl}}/assets/res/play.png">
                        <span class="card-title">Stack of technologies</span>
                    </div>
                    <div class="card-content">
                        <div class="skills">
                            <ul>
                                <li>
                                    <strong>Java, Scala, EcmaScript (NodeJS)</strong>
                                </li>
                                <li>
                                    <strong>Frameworks: Spring Boot, Spring Cloud, Play (scala, Express
                                        (Node.js)</strong>
                                </li>
                                <li>
                                    <strong>jdbc, hibernate, jpa, slick (scala), anorm (scala), kundera (jpa-api for
                                        nosql db), ebean-orm</strong>
                                </li>
                                <li>
                                    <strong>Other frameworks & libraries: guice, griffon, open-feign, retrofit,
                                        scarlet,
                                        apache-common</strong>
                                </li>
                                <li>
                                    <strong>Databases: postgres, mysql, neo4j, mongo, redis, memcached, </strong>
                                </li>
                                <li>
                                    <strong>Testing frameworks: junit, mockito, easymock, power-mock</strong>
                                </li>
                                <li>
                                    <strong>CI/CD: jenkins, team-city, gitlab CI, docker, docker-swarm,
                                        kubernetes</strong>
                                </li>
                                <li>
                                    <strong>Agile methodologies</strong>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h2>Experience</h2>
        <div class="row">
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked company-image">
                        <span class="card-title company-text">
                            <div>Start: 2016 Jan</div>
                            <div>End: 2016 May</div>
                            <h6>Discoperi - SYSTEM "EYE"</h6>
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Java Software Engineer</span>
                            <div>Kiev, Ukraine</div>
                            <p>Research, design, and implement scalable system as backend for IoT-device, which called
                                "System 'Eye'"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked company-image">
                        <span class="card-title company-text">
                            <div>Start: 2016 Apr</div>
                            <div>End: 2016 Jul</div>
                            <h6>RiseSoft</h6>
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Java/JavaScript Developer</span>
                            <div>Khmelnitsky, Ukraine</div>
                            <p>Direct software design and development of several small backend project</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked company-image">
                        <span class="card-title company-text">
                            <div>Start: 2016 Jul</div>
                            <div>End: 2018 Jan</div>
                            <h6>OmnieSoft</h6>
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Java Software Engineer</span>
                            <div>Khmelnitsky, Ukraine</div>
                            <p>Collaborate closely with other team members to plan, design, and develop robust
                                e-commerce solutions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked company-image">
                        <span class="card-title company-text">
                            <div>Start: 2018 Jan</div>
                            <div>Currently work here</div>
                            <h6>Unicorn UA</h6>
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">Regular Software Engineer</span>
                            <div>Ternopil, Ukraine</div>
                            <p>Developed new application and added functionality to existing applications using UAF
                                (Unicorn Application Frameworks) technologies</p>
                            <p>Worked on implementation of internal software product, UAF components etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h2>Education</h2>
        <div class="row">
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked company-image">
                        <span class="card-title company-text">
                            <div>Start: 2013 </div>
                            <div>End: 2017 </div>
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">
                                Khmelnitsky National University
                            </span>
                            <div>
                                Degree Name - Bachelor's degree
                            </div>
                            <p>Field Of Study - Software Engenieering</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="card horizontal">
                    <div class="card-stacked company-image">
                        <span class="card-title company-text">
                            <div>Start: 2018 </div>
                            <div>Present</div>
                        </span>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title">
                                Khmelnitsky National University
                            </span>
                            <div>
                                Degree Name - Master degree
                            </div>
                            <p>Field Of Study - Software Engenieering</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>