</main>
<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <img src="{{site.baseurl}}/assets/res/logo.png" alt="logo" />
        <p class="grey-text text-lighten-4">{{site.description}}</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &#xA9; {{"now" | date: "%Y"}} {{site.title}}. All rights reserved. Powered by <a href="https://github.com/kzonix/">Alexander
        Balyshyn</a>.
    </div>
  </div>
</footer>
<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
{% for js in layout.js %}
{% if js contains "//" %}
<script src="{{js}}"></script>
{% else %}
<script src="{{site.baseurl}}/assets/js/{{js}}"></script>
{% endif %}
{% endfor %}
{% for js in page.js %}
{% if js contains "//" %}
<script src="{{js}}"></script>
{% else %}
<script src="{{site.baseurl}}/assets/js/{{js}}"></script>
{% endif %}
{% endfor %}
{% if site.google_tracking_id %}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o), m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })
  (window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{site.google_tracking_id}}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
<script src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>