<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Alexander Balyshyn</title>
  <link rel="shortcut icon" href="https://kzonix.github.io/assets/res/favicon.ico" type="image/png">
  <link rel="shortcut icon" href="https://kzonix.github.io/assets/res/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Alexander Balyshyn, Alexander, Balyshyn, Blog, Software, Developer, Java, Dart, Scala, playframework, lagom">
  <meta name="description" content="Alexander Balyshyn, Alexander, Balyshyn, CV, Blog, Software, Developer, Java, Dart, Scala, playframework, lagom, Play framework and lagom engineer, java programing language, microservices, play, jpa, mongodb">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <meta name="distribution" content="web">
  <meta http-equiv="refresh" content="360">
  <meta name="robots" content="index, folow">

  <link rel="origin" href="https://kzonix.github.io" />
  <meta property="og:title" content="Alexander Balyshyn" />
  <meta property="og:url" content="https://balyszyn.github.io/kzonix" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Worked as Software Engineer and Software Architect in projects. For several years worked in the field of e-commerce. Has rich experience in server-side development, building reactive and scalable systems based on microservice architecture.">

  <link rel="origin" href="https://kzonix.github.io" />
  <meta property="og:title" content="Alexander Balyshyn" />
  <meta property="og:url" content="https://kzonix.github.io" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Worked as Software Engineer in several projects. For a years worked in the field of e-commerce. Has rich experience in server-side development, building reactive and scalable systems based on microservice architecture.">
  <meta property="og:image" content="https://kzonix.github.io/assets/res/user.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Alexander Balyshyn" />
  <meta name="twitter:description" content="Worked as Software Engineer and Software Architect in projects. For several years worked in the field of e-commerce. Has rich experience in server-side development, building reactive and scalable systems based on microservice architecture." />
  <meta name="twitter:url" content="https://kzonix.github.io/" />
  <meta property="twitter:image" content="https://kzonix.github.io/assets/res/user.jpg" />

  <meta name="google-site-verification" content="maNhtDtSp1ilwcCjpa12C76KVBp7lN-6ZL6J_nLOQLQ" />
  <meta name="msvalidate.01" content="AE9D7870B930EE8227AA39F34609E063" />


  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/templatemo-gray.css">
  <title>
    {% if page.title %} {{ page.title | escape }} {% else %} {{ site.title | escape }} {% endif %}
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"> {% for css in layout.css %} {% if css contains
  "//" %}
  <link rel="stylesheet" href="{{css}}"> {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"> {% endif %} {% endfor %} {% for css in page.css %}
  {% if css contains "//" %}
  <link rel="stylesheet" href="{{css}}"> {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}"> {% endif %} {% endfor %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml"> {% seo title=false %}

  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WH6FGSG');
  </script>
</head>

<body>
  <header>
    <nav class="top-nav grey darken-4">
      <div class="nav-wrapper">
        <div class="container">
          <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <div class="userView">
          <div class="background"></div>
          <a href="{{site.github_profile}}" target="_blank">
            <img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png">
          </a>
          <span class="white-text name">{{site.user}}</span>
          <span class="white-text email">{{site.user_email}}</span>
        </div>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/">
          <i class="material-icons">home</i>Home</a>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/projects">
          <i class="material-icons">description</i>Projects</a>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/categories">
          <i class="material-icons">sort</i>Categories</a>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/tags">
          <i class="material-icons">label</i>Tags</a>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank">
          <i class="material-icons">rss_feed</i>RSS</a>
      </li>
      <li>
        <div class="divider"></div>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/about">
          <i class="material-icons">person</i>My profile</a>
      </li>
      <li>
        <a class="waves-effect" href="{{site.baseurl}}/contact">
          <i class="material-icons">email</i>Contact</a>
      </li>
    </ul>
  </header>
  <main>