---
---
@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

.user-pic
  img
    width: 150px
    height: auto

.hidden
  display: none

.card.horizontal 
  .card-image 
    max-width: 35%
.company-image
  max-width: 20% !important
  background-color: linear-gradient(to right, rgba(255,0,0,.5), rgba(255,0,0,1))
.company-text
  font-size: 0.88em !important
  padding-top: 10%
  padding-bottom: 10px
  div
    padding-top: 5px
    padding-left: 15px
  h6 
    padding-top: 5px
    padding-left: 15px
.desc-item
  margin: 0 0 0 0 !important
  padding: 0 0 0 0 !important
  border-bottom: 1px solid rgba(0,0,0,0.12)

.desc-item-title 
  font-weight: bold