---
---
// Overall
body
  display: flex
  min-height: 100vh
  flex-direction: column

a
  color: #26a69a

a:hover
  text-decoration: underline

a:active
  text-decoration: underline

main
  flex: 1 0 auto

header,
main,
footer
  padding-left: 300px

.container
  width: 90%

// Header
header
  height: 80px

  a:hover
    text-decoration: none

  .background
    background: -webkit-linear-gradient(30deg, #00695c 50%, #212121 50%)
    background: linear-gradient(60deg, #00695c 50%, #212121 50%)

a
  &.button-collapse
    &.top-nav
      position: absolute
      text-align: center
      height: 48px
      width: 48px
      top: 0
      float: none
      color: #333
      font-size: 36px
      z-index: 999
      line-height: 80px

nav 
  .page-title
    font-size: 36px
    font-weight: bold
    line-height: 80px

nav
  &.top-nav
    height: 80px

// Footer
footer.page-footer
  margin-top: 10px

  .row
    margin-bottom: 0px

  p
    margin-top: 5px

// Misc
blockquote
  border-left-color: grey darken-4

main
  ul
    &:not(.browser-default)
      padding-left: 40px

      li
        list-style-type: disc

lever
  color: #26a69a
  background-color: #26a69a

@media only screen and (max-width: 992px)
  header,
  main,
  footer
    padding-left: 0

  nav 
    .nav-wrapper
      text-align: center

@media only screen and (max-width: 600px)
  nav
    .page-title
      font-size: 20px